# Node
node_modules/
dist/
build/
.npm/

# Python & Django
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
logs/

# Environment Variables (SANGAT RAHASIA - JANGAN PERNAH DIPUSH)
.env
.env.local
.env.production
.env.development
*.key
*.pem

# OS & Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Documents & Raw Files (Bukan Kode Aplikasi)
*.zip
*.rar
*.tar.gz
*.pdf
*.docx
*.xlsx
*.rtf
LAPORAN KITA/
pos-ml-system_preview/
pos-ml-system_dummy_v2/
Mockup/
Active phase/
Debug/
